.datePicker__container {
    position: relative;
    padding: .5rem;
    font-size: 1rem;
}

.datePicker__container:hover {
    cursor: pointer;
}

.datePicker__selector {
    position: absolute;
    z-index: 50000;
    height: 10rem;
    width: 20rem;
    padding: .5rem;
    background-color: white;
    border: solid 1px lightgray;
    border-radius: .5rem;
}

.selector__header {
    margin-bottom: .5rem;
}

.selector__body {
    display: flex;
    justify-content: space-between;
}

.selector__actions {
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
}

.datepicker__input {
    cursor: pointer;
    box-sizing: border-box;
    border: none;
    outline: none;
    border-bottom: solid 1px lightgray;
    font-size: .8rem;
    font-family: Roboto;
}

.selector__actions-button {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    text-align: center;
    font-size: 1rem;
    margin: .5rem auto;
    width: 30%;
    padding: .5rem;
    border-radius: 1rem;
    color: gray;
    border: 1px solid var(--accent4);
}

.selector__actions-button:focus {
    outline: none;
    background: none;
}

.selector__actions-button:hover {
    outline: none;
    cursor: pointer;
    color: white;
    background-color: var(--accent4);
}