.contenedor-pendientes-table {
    width: 75vw;
    height: 90vh;
    margin-top: .5rem;
}

.pendientes-header-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (min-width: 1290px) {
    .contenedor-pendientes-table {
        width: 81vw;
    }
}