* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html {}

body {
    font-family: Lato, sans-serif;
    /* font-family: 'Lato', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Roboto', sans-serif; */
    line-height: 2;
}

.link-modulos {
    width: 10vw;
    height: 20vh;
    text-decoration: none;
    color: var(--accent4);
}